body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'STIX Two Math', serif;
    
}


ul{
    list-style: none;
    text-align: right;
   
}
li{
    display: inline-block;
    margin-right: 20px;

}
 ul li a{
     text-decoration: none;
     color: white;
     font-weight: bold;
     font-size: medium;
     
     }
.header{
    background-color: tomato;
}
 .half-width h1{
     letter-spacing: 1.5px;
 }



 span{
     color: brown;
 }
 section{
     display: flex;
     margin-bottom: 160px;
 }
 .half-width{
     width: 50%;
     padding-left: 3%;
     
 }
 .half-width img{
     width: 50%;
     
 }
 .link-button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     border-radius: 5px;
 }
 .about{
     background-image: url(image/Frame.jpg);
     background-repeat: no-repeat;
     
 }

 .food-details{
     text-align: center;
     margin: 0 auto;
     margin-bottom: auto;


 }

 .food-card-details{
    width: 1350px;
    margin:  auto;
    margin-bottom: 150px;

}

 

 .food-card-details .food-card1 {
     width: 400px;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 5px;
    margin: auto;
    padding: 5px 5px 5px 5px;
    

   }
 .food-card1 img{
     width: 100%;

 }  
 .yellow{
     color: orange;
 }
footer{
    background-color: black;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: white;

}

